---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="rounded-2xl overflow-hidden shadow-2xl border border-zinc-800 p-4 items-center justify-center text-center glass"
    aria-label="Test Section"
  >
    <h1>Test Page</h1>
  </section>
</Layout>
